body {
    font-family: Arial, sans-serif;
    background-color: #ffd1dc; /* Baby pink background color */
    margin: 0;
}


body {
    background-image: url('Premium\ Photo\ _\ Baking\ or\ cooking\ background\ frame\ ingredients\ kitchen\ items\ for\ baking\ cakes\ kitchen\ utensils\ flour\ eggs\ brown\ sugar\ butter\ text\ space\ top\ view\ cookies\ pie\ or\ cake\ recipe\ mockup.jpg');
    background-size: cover;
    background-attachment: fixed;
}



header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    background-image: url('Premium\ Photo\ _\ Baking\ or\ cooking\ background\ frame\ ingredients\ kitchen\ items\ for\ baking\ cakes\ kitchen\ utensils\ flour\ eggs\ brown\ sugar\ butter\ text\ space\ top\ view\ cookies\ pie\ or\ cake\ recipe\ mockup.jpg');
    background-size: cover;
    background-attachment: fixed;
}
    

header h1 {

    background-color:  #ffe4e1; 
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ca5e48; 

  }

    

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: coral;
    

}




ul, ol {
    padding-left: 20px;
}

footer {
    text-align: center;  
    padding: 20px;
    
    background-attachment: fixed;
    background-color:  #ffe4e1;
}


  

#rating p {
    margin-top: 10px;
}


.sibu span:before {
    content: "★";
    font-size: 20px;
    color: #fdd835;
}

.sipho span:before {
    content: "★";
    font-size: 20px;
    color: #fdd835;
}

.reba span:before {
    content: "★";
    font-size: 20px;
    color: #fdd835;
}

.stars h6 {
    margin-bottom: 5px; 
}

